@model IEnumerable<rewardly.ViewModels.CompanyPoints>

@{
	ViewBag.Title = "Home Page";
}
@section header {
	<div id="header">
		<a href="javascript:void(0);" id="btnMenu">
			<img src="@Url.Content("~/Content/images/btn-main-menu.png")" width="24px" height="21px" />
		</a>
		<div class="logo"></div>
		<a href="@Url.Action("SearchCompany", new { venueId = 1, prizePoint = 50000 })" id="btnAdd">
			<img src="@Url.Content("~/Content/images/btn-add.png")" width="18px" height="19px" />
		</a>
	</div>
}
<div id="home">
<ul id="list">
	@foreach (var item in Model) { 
	<li>
		<a href="@Url.Action("LocationsList", new { id=item.companyId })">
			<img src="@item.companyLogo" width="82px" height="82px" />
			<div class="copy">
				<span class="name">@item.companyName</span><br />
				<span class="points">@item.points pts</span>
			</div>
			<div class="arrow">
				<img src="@Url.Content("~/Content/images/icon-arrow.png")" width="15px" height="30px" />
			</div>
		</a>
	</li>
	}
</ul>

	</div>
