@model rewardly.Models.location

@{
	ViewBag.Title = "LocationDetails";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
	<div id="header">
		<a href="javascript:void(0);" id="btnMenu">
			<img src="@Url.Content("~/Content/images/btn-main-menu.png")" width="24px" height="21px" />
		</a>
		<div class="details-title">@ViewBag.CompanyName</div>
	</div>
}

<div id="details">
	<div class="photo" style="background: url(@Model.locPicture) no-repeat center; background-size: 100%">
		<img src="@ViewBag.CompanyLogo" width="82px" height="82px" />
		<h1>@ViewBag.CompanyName</h1>
	</div>
	<div class="content">
		<span class="points">@ViewBag.MemberPoints pts</span>
		<a href="javascript:checkin(@Model.locationId);" class="checkIn"><span>Check In</span></a>
		<a href="@Url.Action("RewardCatalog","Home", new {id=Model.locationId})" class="rewards">Rewards</a>
		<p>
			<span>Address:</span>
			@Html.DisplayFor(model => model.address)
		</p>
		<p>
			<span>Phone:</span>
			<a href="tel:@Html.DisplayFor(model => model.phone)">@Html.DisplayFor(model => model.phone)</a>
		</p>
		<p>
			<span>Costs Roughly:</span>
			$@Html.DisplayFor(model => model.pricePoint).00
		</p>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		function checkin(locId)
		{
			$.post("/CheckinAjax", new { locationId : locId }, function (data) {
				if (data.success == true) {
					alert("Thank you for checking in");
				} else {
					alert("There was an issue please try again latter");
				}
			});
		}
	</script>
}