@model IEnumerable<rewardly.Models.catalog>

@{
	ViewBag.Title = "RewardCatalog";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int myPoints =(int)ViewBag.MemberPoints;
}
@section header {
	<div id="header">
		<a href="javascript:void(0);" id="btnMenu">
			<img src="@Url.Content("~/Content/images/btn-main-menu.png")" width="24px" height="21px" />
		</a>
		<div class="logo"></div>
		<a href="@Url.Action("SearchCompany", new { venueId = 1, prizePoint = 50000 })" id="btnAdd">
			<img src="@Url.Content("~/Content/images/btn-add.png")" width="18px" height="19px" />
		</a>
	</div>
}
<div id="reward">
<ul id="list">
	@foreach (var item in Model) { 
	<li>
		<img src="@item.prizePicture" width="82px" height="82px" />
		<div class="copy">
			<span class="name">@item.prizeDescription</span><br />
			<span class="points">@item.points pts</span>
			@if (myPoints < item.points) {
				int missing = item.points - myPoints;
				<p>You need <strong>@missing</strong> more points to redeem</p>
			}
			else
			{
				<a href="javascript:redeem('@item.catalogId', '@item.prizePicture', '@item.prizeDescription')" class="active">Redeem</a>
			}
		</div>
	</li>
	}
</ul>
</div>

<script type="text/javascript">
	FB.init({ appId: "321195794657335", status: true, cookie: true });

	function redeem(catId, photo, desc) {

		// calling the API ...
		var obj = {
			method: 'feed',
			redirect_uri: 'http://rewardlymobile.azurewebsites.net',
			link: 'http://rewardlymobile.azurewebsites.net',
			picture: 'http://rewardlymobile.azurewebsites.net' + photo,
			name: 'I redeemed a ' + desc + ' from McDowells!',
			description: ''
		};

		function callback(response) {
			window.location('http://rewardlymobile.azurewebsites.net');
		}

		FB.ui(obj, callback);
	}
</script>