<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="/Content/images/ios-icon.png"/>
        <link rel="apple-touch-icon-precomposed" href="/Content/images/ios-icon.png"/>
        <link rel="apple-touch-startup-image" href="/Content/images/splash2.png" />  
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <div id='fb-root'></div>
        <script src='http://connect.facebook.net/en_US/all.js'></script>
        <div id="wrapper">
            
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    @Html.Partial("_LoginPartial")
                }
            
            <div id="content">
                @RenderBody()
            </div>
            <div id="footer">

            </div>
        </div>
        <div id="sideMenu">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="javascript:void(0);">Settings</a></li>
                <li><a href="@Url.Action("LogOff", "Account")">Logout</a></li>
            </ul>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
