@model ICollection<AuthenticationClientData>

@if ((Model != null) && (Model.Count != 0)) {
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account" class="@p.ExtraData["class"].ToString()">@p.DisplayName</button>
        }
    }
}
