@model rewardly.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Confirm Registration";
}

<div id="register">
    <div class="logo"></div>
    <h1>Just one more step...</h1>
    <p>Please confirm your username:</p>
    <h2>@Model.UserName</h2>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "metro-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="signUpForm">

        @Html.HiddenFor(m => m.UserName)

            @Html.HiddenFor(m => m.ExternalLoginData)
            <div class="submitConfirm">
                <input type="submit" value="Register" class="metro-button"/>
            </div>
        </div>
    }
    <p>Already registered, Login @Html.ActionLink("Here", "Login")</p>
</div>
