@model BusinessLMSWeb.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="metro-container-300">

    <div class="title" style="margin-bottom:40px;">
        <h1>@ViewBag.Title.</h1>
    </div>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "metro-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend></legend>
            <div class="metro-align-right" style="margin-bottom:20px;">
                Just one more step... Let us know your user name
            </div>
            <div class="metro-form-control">
                @Html.LabelFor(m => m.UserName)
                <div class="metro-text-box">
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            @Html.HiddenFor(m => m.ExternalLoginData)
            <div class="metro-align-right">
                <input type="submit" value="Register" class="metro-button"/>
            </div>
        </fieldset>
        <div class="metro-align-right" style="margin-top:20px;">
            Already registered, Login @Html.ActionLink("Here", "Login")
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
